<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot Web Page</title>
</head>
<body>
<h1>Hello <span th:text="${username}">User</span>!</h1>

<!-- list of circles the user is in -->
<h2>Your Circles:</h2>
<ul>
    <li th:each="circle : ${circles}" th:text="${circle.name}">Circle Name</li>
</ul>

<!-- Button to Create Circle -->
<form th:action="@{/circles/create}" method="get">
    <button type="submit">Create Circle</button>
</form>
</body>
</html>
