<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Register</title></head>
<body>
<h2>Register</h2>
<form th:action="@{/register}" th:object="${userRegisterDTO}" method="post">
  <div><label>username: <input type="text" th:field="*{username}" /></label></div>
  <div><label>password: <input type="password" th:field="*{password}" /></label></div>
  <div><label>repeated password: <input type="password" th:field="*{repeatedPassword}" /></label></div>
  <div><button type="submit">Register</button></div>
  <div th:if="${param.error}" th:text="${param.error[0]}"></div>
  <div th:if="${param.success}">Registration successful! You can now <a th:href="@{/login}">log in</a>.</div>
</form>
</body>
</html>